<header class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    Add new interval
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</header>

<section class="modal-body">
  <form [formGroup]="intervalForm">
    <div class="form-row">
      <div class="form-group col-6">
        <label for="date-from">
          Interval starting from:
        </label>
        <input type="text" class="form-control" id="date-from" formControlName="fromLabel">
        <input type="hidden" formControlName="from">
      </div>
      <div class="form-group col-6">
        <label for="date-till">
          Interval ending at:
        </label>
        <input type="text" class="form-control" id="date-till" formControlName="tillLabel">
        <input type="hidden" formControlName="till">
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-outline-info" (click)="openDateRangeModal()">
        <i class="material-icons">
          date_range
        </i>
        Set interval dates
      </button>
    </div>
    <div class="form-group">
      <label for="starting-sum">
        Starting sum:
      </label>
      <input type="text" class="form-control" id="starting-sum" placeholder="0.00" formControlName="sum">
    </div>
  </form>
</section>

<footer class="modal-footer justify-content-between">
  <span>
    <button type="button" class="btn btn-outline-secondary mr-2" (click)="cancel()">
      Cancel
    </button>

    <button type="button" class="btn btn-outline-primary" (click)="save()" [disabled]="intervalForm.invalid">
      Save
    </button>
  </span>
</footer>
