<nav aria-label="breadcrumb" *ngIf="items.length > 0" class="d-flex flex-row justify-content-center mb-2">
	<button class="btn btn-outline-primary mr-2" routerLink="/">
		<span class="material-icons-outlined">home</span>
	</button>

	<ol class="breadcrumb m-0 flex-grow-1">
		<li *ngFor="let item of items"
			aria-current="page"
			class="breadcrumb-item"
			[ngClass]="{ active: item.active }"
		>
			<a *ngIf="item.link" [routerLink]="item.link">
				{{item.label}}
			</a>

			<span *ngIf="!item.link">
        {{item.label}}
      </span>
		</li>
	</ol>
</nav>
