<form class="d-flex flex-wrap justify-content-end flex-md-nowrap" [formGroup]="paymentForm">
  <div class="input-group mb-2 mb-md-0">
    <div class="input-group-prepend">
      <label class="input-group-text" for="payment-input">
        Payment:
      </label>
    </div>

    <input id="payment-input" type="text" class="form-control" placeholder="0.00" formControlName="payment">

    <div class="input-group-append">
      <span class="input-group-text">€</span>
    </div>
  </div>

  <button class="btn btn-outline-primary ml-0 ml-md-2" (click)="save()" [disabled]="paymentForm.pristine || paymentForm.invalid">
    Save
  </button>

  <button class="btn btn-outline-secondary ml-2" (click)="cancel()">
    Cancel
  </button>
</form>
