<header class="modal-header" [ngClass]="{ 'border-bottom-0': payments.length }">
  <h4 class="modal-title" id="modal-basic-title">
    Expenses on {{record.date|date}}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</header>

<section class="modal-body">
  <div *ngIf="!payments.length; else paymentRecords">
    There is no records yet!
  </div>

  <ng-template #paymentRecords>
    <app-payment-record *ngFor="let payment of payments" [payment]="payment" (clean)="clean()"></app-payment-record>
  </ng-template>
</section>

<footer class="modal-footer justify-content-between">
  <span>
    <button type="button" class="btn btn-outline-info" (click)="add()">
      Add new
    </button>
  </span>

  <span>
    <button type="button" class="btn btn-outline-secondary mr-2" (click)="cancel()">
      Cancel
    </button>

    <button type="button" class="btn btn-outline-primary" (click)="save()" [disabled]="!payments.length">
      Save
    </button>
  </span>
</footer>
