<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="card mb-2">
        <div class="card-body">
          Add expenses
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          Expenses table
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card mb-2">
        <div class="card-body">
          Add new interval
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-body">
          Statistics
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-body">
          Graph
        </div>
      </div>
    </div>
  </div>
</div>
