<table class="table table-bordered table-hover table-row-pointer">
  <thead>
  <tr class="table-primary">
    <th scope="col">
      Date
    </th>
    <th scope="col">
      Expenses
    </th>
    <th scope="col">
      Daily Balance
    </th>
    <th scope="col">
      Total Balance
    </th>
    <th scope="col">
      Expected Residuals
    </th>
    <th scope="col">
      Total Residuals
    </th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let record of expenses" [ngClass]="getRowStyle(record)" (click)="openExpensesModal(record)">
    <th scope="row">
      {{record.date|date:'dd.MM.YYYY.'}}
    </th>
    <td>
      {{record.expenses|currency:'EUR'}}
    </td>
    <td>
      {{record.balance.daily|currency:'EUR'}}
    </td>
    <td>
      {{record.balance.total|currency:'EUR'}}
    </td>
    <td>
      {{record.residual.planned|currency:'EUR'}}
    </td>
    <td>
      {{record.residual.real|currency:'EUR'}}
    </td>
  </tr>
  </tbody>
</table>
