<ng-container *ngIf="dailyExpensesOverview">
  <header class="modal-header">
    <h4 class="modal-title">
      {{dailyExpensesOverview.date|date}}
    </h4>
    <button type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
    ></button>
  </header>

  <main class="modal-body py-1">
    <app-borderless-spinner *ngIf="isExpensesLoading">
      Loading expenses...
    </app-borderless-spinner>

    <table class="table table-borderless table-expenses-edit m-0"
           *ngIf="expenses.length; else noExpensesAlert"
    >
      <tbody>
      <tr app-expenses-edit-row
          *ngFor="let record of expenses"
          [payment]="record"
          [disabled]="isExpensesSaving"
          (removeAddedPayment)="removeAdded(record)"
      ></tr>
      </tbody>
    </table>

    <ng-template #noExpensesAlert>
      <div class="alert alert-info m-0">
        <i class="material-icons">info</i> There is no expenses yet!
      </div>
    </ng-template>
  </main>

  <footer class="modal-footer justify-content-between">
    <div>
      <button type="button"
              class="btn btn-outline-primary"
              [disabled]="isExpensesSaving"
              (click)="add()"
      >
        <i class="material-icons">add</i> Add
      </button>
    </div>

    <div>
      <button type="button"
              class="btn btn-outline-primary me-2"
              [disabled]="isExpensesSaving"
              (click)="save()"
      >
        {{ isExpensesSaving ? 'Saving...' : 'Save' }}
        <span *ngIf="isExpensesSaving"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
        ></span>
      </button>

      <button type="button"
              class="btn btn-outline-dark"
              [disabled]="isExpensesSaving"
              (click)="modal.close(false)"
      >
        Cancel
      </button>
    </div>
  </footer>
</ng-container>


