<header class="modal-header">
  <h4 class="modal-title">
    Create interval
  </h4>
</header>

<main class="modal-body">
  <ng-container *ngIf="stage === CreateIntervalStages.NO_INTERVAL_SELECTED">
    <app-select-interval-alert (selectInterval)="setStage(CreateIntervalStages.SELECT_INTERVAL)"></app-select-interval-alert>
  </ng-container>

  <ng-container  *ngIf="stage === CreateIntervalStages.SELECT_INTERVAL">
    <app-select-interval [startDate]="startDate"
                         [finishDate]="finishDate"
                         [minDate]="PreviousIntervalEnd"
                         (change)="updateDates($event)"
    ></app-select-interval>
  </ng-container>

  <ng-container *ngIf="stage === CreateIntervalStages.SET_ADDITIONAL_DATA">
    <app-preview-interval-dates
      [startDate]="startDate"
      [finishDate]="finishDate"
      (selectInterval)="setStage(CreateIntervalStages.SELECT_INTERVAL)"
    />

    <app-set-additional-data-interval
      [sum]="intervalSum"
      (changes)="updateSum($event)" />
  </ng-container>

  <ng-container *ngIf="stage === CreateIntervalStages.PREVIEW_INTERVAL">
    <div>Preview Interval</div>
    <div>{{intervalSum}}</div>
  </ng-container>

</main>

<footer class="modal-footer d-flex justify-content-between">
  <span>
    <button *ngIf="stage === CreateIntervalStages.SET_ADDITIONAL_DATA"
            type="button"
            class="btn btn-outline-primary"
            [disabled]="!startDate || !finishDate"
            (click)="setStage(CreateIntervalStages.SELECT_INTERVAL)"
    >
      Back
    </button>

    <button *ngIf="stage === CreateIntervalStages.PREVIEW_INTERVAL"
            type="button"
            class="btn btn-outline-primary"
            [disabled]="!startDate || !finishDate"
            (click)="setStage(CreateIntervalStages.SET_ADDITIONAL_DATA)"
    >
      Back
    </button>
  </span>

  <span>
    <button *ngIf="stage === CreateIntervalStages.SELECT_INTERVAL"
            type="button"
            class="btn btn-outline-primary"
            [disabled]="!startDate || !finishDate"
            (click)="setStage(CreateIntervalStages.SET_ADDITIONAL_DATA)"
    >
      Next
    </button>

    <button *ngIf="stage === CreateIntervalStages.SET_ADDITIONAL_DATA"
            type="button"
            class="btn btn-outline-primary"
            [disabled]="IsPreviewDisabled"
            (click)="setStage(CreateIntervalStages.PREVIEW_INTERVAL)"
    >
      Next
    </button>

    <button *ngIf="stage === CreateIntervalStages.PREVIEW_INTERVAL"
            type="button"
            class="btn btn-primary"
    >
      Save
    </button>

    <button type="button" class="btn btn-danger ms-2" (click)="cancel()">
      Cancel
    </button>
  </span>
</footer>
