<div class="record-date-time">
  {{payment.time|date:'HH:mm:ss'}}
</div>

<div class="record-value flex-grow-1 ml-2">
  <input *ngIf="mode === ItemMode.Edit" type="text" class="w-100" />

  <span [ngClass]="ContextClasses" *ngIf="mode === ItemMode.View">
    {{ payment.sum | currencyExt }}
  </span>
</div>

<div class="ml-2" [ngSwitch]="mode">
  <ng-container *ngSwitchCase="ItemMode.Edit">
    <button type="button" class="btn btn-sm btn-primary mr-1">
      <i class="material-icons">
        done
      </i>
    </button>

    <button type="button" class="btn btn-sm btn-outline-danger btn-outline-primary">
      <i class="material-icons">
        close
      </i>
    </button>
  </ng-container>
</div>
