<div class="record-date-time">
	{{payment.time|date:'HH:mm:ss'}}
</div>

<div class="record-value flex-grow-1 ml-2">
	<span [ngClass]="ContextClasses" *ngIf="mode !== ItemMode.Edit; else inputValue">
		{{ payment.sum | currencyExt }}
	</span>

	<ng-template #inputValue>
		<input *ngIf="mode === ItemMode.Edit" type="text" class="w-100" [(ngModel)]="value"/>
	</ng-template>
</div>

<div class="ml-2">
	<span class="material-icons-outlined text-primary align-middle" style="font-size: 1rem" *ngIf="DisplayEditIcon">
		upload
	</span>
</div>

<div class="ml-2" [ngSwitch]="mode">
	<app-payment-record-controls [mode]="mode" (action)="handleControlsAction($event)"></app-payment-record-controls>
</div>
