<div class="container-fluid">
	<div class="row">
		<div class="col-12 col-sm-6 col-md-7">
			<ng-container *ngIf="!requestRunning && summary">
				<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>
				<app-dashboard-controls (changes)="reload()"></app-dashboard-controls>
				<app-expenses-table [schedule]="summary.days" (changes)="reload()"></app-expenses-table>
			</ng-container>

			<app-spinner *ngIf="requestRunning">
				Loading expenses overview....
			</app-spinner>

			<div class="alert alert-info" role="alert" *ngIf="!requestRunning && !summary">
				Seems you are first time here! Create new interval!
			</div>
		</div>

		<div class="col-12 col-sm-6 col-md-5">
			<app-interval-controls [interval]="interval" (changes)="reload()"></app-interval-controls>
			<app-interval-overview *ngIf="totals" [totals]="totals"></app-interval-overview>
			<app-expenses-graph *ngIf="schedule" [expenses]="schedule"></app-expenses-graph>
		</div>
	</div>
</div>
