<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <app-breadcrumb [items]="breadcrumb"></app-breadcrumb>
      <app-dashboard-controls (changes)="reload()"></app-dashboard-controls>
      <app-expenses-table [schedule]="schedule" (changes)="reload()"></app-expenses-table>
    </div>

    <div class="col-4">
      <app-interval-controls [interval]="interval" (changes)="reload()"></app-interval-controls>
      <app-interval-overview [totals]="totals"></app-interval-overview>
      <app-expenses-graph></app-expenses-graph>
    </div>
  </div>
</div>
