<header class="modal-header">
  <h4 class="modal-title">
    Update interval
  </h4>
</header>

<main class="modal-body">
  <app-spinner [delay]="1000" *ngIf="isRequestRunning">
    {{loadingStage}}
  </app-spinner>

  <form *ngIf="!isRequestRunning" [formGroup]="form">
    <section class="row mb-2">
      <div class="col-6">
        <label
          for="start-date"
          class="form-label fw-bold"
        >
          Start date:
        </label>
        <div class="input-group">
          <input
            id="start-date"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            formControlName="startDate"
            [minDate]="PreviousIntervalEnd"
            #startDate="ngbDatepicker"
          />
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="startDate.toggle()"
          >
            <i class="material-icons">calendar_month</i>
          </button>
        </div>
      </div>

      <div class="col-6">
        <label
          for="end-date"
          class="form-label fw-bold"
        >
          End date:
        </label>
        <div class="input-group">
          <input
            id="end-date"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            formControlName="endDate"
            #endDate="ngbDatepicker"
          />
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="endDate.toggle()"
          >
            <i class="material-icons">calendar_month</i>
          </button>
        </div>
      </div>
    </section>

    <section class="row mb-3">
      <div class="col-6">
        <label for="interval-sum" class="form-label fw-bold">
          Sum:
        </label>
        <div class="input-group">
          <span class="input-group-text">
            €
          </span>
          <input id="interval-sum" type="text" class="form-control" placeholder="0.0" formControlName="sum" />
        </div>
      </div>
    </section>

    <section class="row mb-2">
      <div class="col-4">
        <div class="form-label fw-bold">
          Interval length:
        </div>
        <div>
          {{IntervalLength}} days
        </div>
      </div>
      <div class="col-4">
        <div class="form-label fw-bold">
          Daily balance:
        </div>
        <div>
          {{DailyBalance|currency:'EUR'}}
        </div>
      </div>
    </section>
  </form>
</main>

<footer class="modal-footer d-flex justify-content-end">
  <button type="button" class="btn btn-outline-primary me-1" (click)="save()">
    Save
  </button>
  <button type="button" class="btn btn-danger" (click)="cancel()">
    Cancel
  </button>
</footer>
