<div class="expenses-table card table-responsive border-primary mb-2" *ngIf="schedule">
  <table class="table table-sm table-hover text-nowrap mb-0">
    <thead>
    <tr>
      <th scope="col">
        Date
      </th>
      <th scope="col">
        Expenses
      </th>
      <th scope="col">
        Residual
      </th>
      <th scope="col">
        Planned
      </th>
      <th scope="col">
        Daily Balance
      </th>
      <th scope="col">
        Balance
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of schedule" [ngClass]="highlightDate(item)" (click)="openExpensesModal(item)">
      <th scope="row">
        {{item.date|date:'dd MMM yyyy'}}
      </th>
      <td>
        {{item.spent|currencyExt}}
      </td>
      <td>
        {{item.residual|currencyExt}}
      </td>
      <td>
        {{item.sum|currencyExt}}
      </td>
      <td>
        {{item.dailyBalance|currencyExt}}
      </td>
      <td>
        {{item.balance|currencyExt}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
