<div class="container py-5">
  <h1 class="mb-5">
    Money Saver <small>Expenses tracking application.</small>
  </h1>

  <section class="card border-primary">
    <header class="card-header">
      Login
    </header>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="login-input">
            Login
          </label>
          <input type="email" class="form-control" id="login-input" aria-describedby="login-input">
        </div>
        <div class="form-group">
          <label for="password-input">
            Password
          </label>
          <input type="password" class="form-control" id="password-input">
        </div>
        <button type="button" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
  </section>
</div>
