<th class="align-middle" [ngClass]="getPaymentViewStyle()">
  {{payment.time|date:'HH:mm'}}
</th>

<td *ngIf="IsViewMode" class="w-100 align-middle" [ngClass]="getPaymentViewStyle()">
  {{payment.sum|currency:'EUR'}}
</td>

<td *ngIf="IsEditMode" class="w-100">
  <input type="text" class="form-control" [id]="'payment' + payment.id" [(ngModel)]="editableValue" />
</td>

<td class="align-middle text-end text-nowrap">
  <app-expenses-row-view-controls *ngIf="IsViewMode"
                                  [payment]="payment"
                                  (edit)="toggleEditMode()"
                                  (remove)="toggleRemoveFlagOnRecord()"
                                  (cancel)="cancel()" />

  <app-expenses-row-edit-controls *ngIf="IsEditMode"
                                  [payment]="payment"
                                  (accept)="acceptChanges()"
                                  (decline)="cancel()" />
</td>
