<th class="align-middle" [ngClass]="{'text-decoration-line-through text-secondary': payment.remove}">
  {{payment.time|date:'HH:mm'}}
</th>

<td *ngIf="!isEditMode" class="w-100 align-middle" [ngClass]="{'text-decoration-line-through text-secondary': payment.remove}">
  {{payment.sum|currency:'EUR'}}
</td>

<td *ngIf="isEditMode" class="w-100">
  <input type="text" class="form-control" [id]="'payment' + payment.id" />
</td>

<td class="align-middle text-end text-nowrap">
  <app-expenses-row-view-controls *ngIf="IsViewMode"
                                  [payment]="payment"
                                  (edit)="toggleEditMode()"
                                  (remove)="toggleRemoveFlagOnRecord()"
                                  (cancel)="cancel()" />

  <app-expenses-row-edit-controls *ngIf="isEditMode"
                                  [payment]="payment"
                                  (accept)="acceptChanges()"
                                  (decline)="declineChanges()" />
</td>
