<app-navbar/>

<div class="container mt-4">
    @if (typeof summary() === 'undefined') {
        <div class="alert alert-info">
            Loading...
        </div>
    } @else if (summary() == null) {
        <div class="alert alert-info">
            You don't have any intervals yet. Create one to start tracking your budget. <button type="button" class="btn btn-sm btn-outline-primary" (click)="openCreateIntervalModal()">Create interval</button>
        </div>
    } @else {
        <p>Display summary layout!</p>
    }
</div>
