.interval-item {
  min-width: 250px;

  .table tbody tr:first-child {
    th, td {
      border-top: none;
    }
  }

  td {
    text-align: right;
  }

  .table tbody tr:last-child {
    td {
      text-align: left;
    }
  }
}
