<section class="card interval-item mr-3 mb-3" [ngClass]="setContextBorder()" (click)="openInterval()">
  <header class="card-header text-center" *ngIf="interval.latest">
    Current
  </header>
  <table class="table table-sm mb-0">
    <tbody>
    <tr>
      <th>
        From
      </th>
      <td>
        {{interval.start|date}}
      </td>
    </tr>

    <tr>
      <th>
        Till
      </th>
      <td>
        {{interval.end|date}}
      </td>
    </tr>

    <tr>
      <th>
        Sum
      </th>
      <td>
        {{interval.sum|currencyExt}}
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <a routerLink="/intervals/{{interval.id}}" class="stretched-link">
          Open
        </a>
      </td>
    </tr>

    </tbody>
  </table>
</section>
