<section class="card mb-2">
  <main class="card-body">
    <nav class="breadcrumb m-0" *ngIf="summary">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
          <a routerLink="/years">
            All
          </a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['years', intervalYear]">
            {{intervalYear}}
          </a>
        </li>
        <li class="breadcrumb-item active">
          {{summary.interval.start|date:'MMM dd'}}
          -
          {{summary.interval.end|date:'MMM dd'}}
        </li>
      </ol>
    </nav>
  </main>
</section>

<div class="row" *ngIf="summary && !isSummaryLoading">
  <div class="col-9">
    <app-simple-expenses-input [interval]="summary.interval" (changes)="requestExpensesSummary()"></app-simple-expenses-input>
    <app-expenses-table [expenses]="summary.dailyExpenses" (changes)="requestExpensesSummary()"></app-expenses-table>
  </div>

  <div class="col-3">
    <app-interval-control-panel></app-interval-control-panel>
    <app-interval-summary-panel [totals]="summary.totals"></app-interval-summary-panel>
  </div>
</div>

<app-no-intervals-warning *ngIf="!summary && !isSummaryLoading"></app-no-intervals-warning>
