<div class="row" *ngIf="summary && !isSummaryLoading">
  <div class="col-9">
    <app-simple-expenses-input [interval]="summary.interval"></app-simple-expenses-input>
    <app-expenses-table [expenses]="summary.days"></app-expenses-table>
  </div>

  <div class="col-3">
    <app-interval-control-panel></app-interval-control-panel>
    <app-interval-summary-panel [totals]="summary.totals"></app-interval-summary-panel>
  </div>
</div>

<app-no-intervals-warning *ngIf="!summary && !isSummaryLoading"></app-no-intervals-warning>
