<button class="btn btn-sm btn-outline-primary" [disabled]="payment.remove" (click)="edit.emit()">
  <i class="material-symbols-outlined">
    edit
  </i>
</button>

<button *ngIf="!payment.remove; else cancelRemoveButton"
        class="btn btn-sm btn-outline-danger ms-1"
        [disabled]="payment.remove"
        (click)="remove.emit()"
>
  <i class="material-symbols-outlined">
    delete
  </i>
</button>

<ng-template #cancelRemoveButton>
  <button class="btn btn-sm btn-outline-secondary ms-1"
          [disabled]="!payment.remove"
          (click)="cancel.emit()"
  >
    <i class="material-symbols-outlined">
      replay
    </i>
  </button>
</ng-template>

